.elementor-1287 .elementor-element.elementor-element-12a43038>.elementor-container>.elementor-column>.elementor-widget-wrap {
    align-content: flex-start;
    align-items: flex-start;
}

.elementor-1287 .elementor-element.elementor-element-12a43038 {
    z-index: 2;
}

.elementor-1287 .elementor-element.elementor-element-36ada860 img {
    height: 15vh;
    object-fit: fill;
    opacity: 1;
    transition-duration: 0s;
}

.elementor-1287 .elementor-element.elementor-element-36ada860 {
    width: auto;
    max-width: auto;
}

.elementor-1287 .elementor-element.elementor-element-36d4b892 .elementor-nav-menu .elementor-item {
    font-family: "Audiowide", Sans-serif;
    font-size: 23px;
    font-weight: 600;
    text-transform: uppercase;
    font-style: normal;
}

.elementor-1287 .elementor-element.elementor-element-36d4b892 .elementor-nav-menu--main .elementor-item {
    color: #ffffff;
    fill: #ffffff;
}

.elementor-1287 .elementor-element.elementor-element-36d4b892 .elementor-nav-menu--main .elementor-item:hover,
.elementor-1287 .elementor-element.elementor-element-36d4b892 .elementor-nav-menu--main .elementor-item.elementor-item-active,
.elementor-1287 .elementor-element.elementor-element-36d4b892 .elementor-nav-menu--main .elementor-item.highlighted,
.elementor-1287 .elementor-element.elementor-element-36d4b892 .elementor-nav-menu--main .elementor-item:focus {
    color: #2df702;
    fill: #2df702;
}

.elementor-1287 .elementor-element.elementor-element-36d4b892 .elementor-nav-menu--main:not(.e--pointer-framed) .elementor-item:before,
.elementor-1287 .elementor-element.elementor-element-36d4b892 .elementor-nav-menu--main:not(.e--pointer-framed) .elementor-item:after {
    background-color: #2df702;
}

.elementor-1287 .elementor-element.elementor-element-36d4b892 .e--pointer-framed .elementor-item:before,
.elementor-1287 .elementor-element.elementor-element-36d4b892 .e--pointer-framed .elementor-item:after {
    border-color: #2df702;
}

.elementor-1287 .elementor-element.elementor-element-36d4b892 .elementor-nav-menu--main .elementor-item.elementor-item-active {
    color: var(--e-global-color-f82d666);
}

.elementor-1287 .elementor-element.elementor-element-36d4b892 .elementor-nav-menu--main:not(.e--pointer-framed) .elementor-item.elementor-item-active:before,
.elementor-1287 .elementor-element.elementor-element-36d4b892 .elementor-nav-menu--main:not(.e--pointer-framed) .elementor-item.elementor-item-active:after {
    background-color: var(--e-global-color-f82d666);
}

.elementor-1287 .elementor-element.elementor-element-36d4b892 .e--pointer-framed .elementor-item.elementor-item-active:before,
.elementor-1287 .elementor-element.elementor-element-36d4b892 .e--pointer-framed .elementor-item.elementor-item-active:after {
    border-color: var(--e-global-color-f82d666);
}

.elementor-1287 .elementor-element.elementor-element-36d4b892 .elementor-nav-menu--dropdown a,
.elementor-1287 .elementor-element.elementor-element-36d4b892 .elementor-menu-toggle {
    color: #ffffff;
}

.elementor-1287 .elementor-element.elementor-element-36d4b892 .elementor-nav-menu--dropdown {
    background-color: #0201018a;
    border-style: solid;
    border-color: #2df70285;
}

.elementor-1287 .elementor-element.elementor-element-36d4b892 .elementor-nav-menu--dropdown a:hover,
.elementor-1287 .elementor-element.elementor-element-36d4b892 .elementor-nav-menu--dropdown a.elementor-item-active,
.elementor-1287 .elementor-element.elementor-element-36d4b892 .elementor-nav-menu--dropdown a.highlighted,
.elementor-1287 .elementor-element.elementor-element-36d4b892 .elementor-menu-toggle:hover {
    color: var(--e-global-color-f82d666);
}

.elementor-1287 .elementor-element.elementor-element-36d4b892 .elementor-nav-menu--dropdown a:hover,
.elementor-1287 .elementor-element.elementor-element-36d4b892 .elementor-nav-menu--dropdown a.elementor-item-active,
.elementor-1287 .elementor-element.elementor-element-36d4b892 .elementor-nav-menu--dropdown a.highlighted {
    background-color: #2df70230;
}

.elementor-1287 .elementor-element.elementor-element-36d4b892 div.elementor-menu-toggle {
    color: #ffffff;
}

.elementor-1287 .elementor-element.elementor-element-36d4b892 div.elementor-menu-toggle svg {
    fill: #ffffff;
}

.elementor-1287 .elementor-element.elementor-element-36d4b892 .elementor-menu-toggle {
    background-color: #fba007fc;
}

.elementor-1287 .elementor-element.elementor-element-36d4b892 .elementor-menu-toggle:hover {
    background-color: #00ff1080;
}

.elementor-1287 .elementor-element.elementor-element-36d4b892 {
    width: auto;
    max-width: auto;
    align-self: center;
}

.elementor-1287 .elementor-element.elementor-element-5cd6353e .elementor-button {
    font-family: "Audiowide", Sans-serif;
    font-size: 17px;
    font-weight: 500;
    text-shadow: 2px 2px 24px #000000;
    background-color: #22c200cc;
    border-style: solid;
    border-width: 2px 0px 0px 4px;
    border-color: #ffffff73;
    padding: 30px 50px 30px 50px;
}

.elementor-1287 .elementor-element.elementor-element-5cd6353e .elementor-button:hover,
.elementor-1287 .elementor-element.elementor-element-5cd6353e .elementor-button:focus {
    color: #08fd30;
    background-color: #02860a9e;
}

.elementor-1287 .elementor-element.elementor-element-5cd6353e .elementor-button:hover svg,
.elementor-1287 .elementor-element.elementor-element-5cd6353e .elementor-button:focus svg {
    fill: #08fd30;
}

.elementor-1287 .elementor-element.elementor-element-5cd6353e>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-1287 .elementor-element.elementor-element-5cd6353e {
    width: auto;
    max-width: auto;
    align-self: center;
}

.elementor-1287 .elementor-element.elementor-element-20dd8fef .elementor-button {
    font-family: "Audiowide", Sans-serif;
    font-size: 17px;
    font-weight: 500;
    text-shadow: 2px 2px 24px #000000;
    background-color: #22c200cc;
    border-style: solid;
    border-width: 2px 0px 0px 4px;
    border-color: #ffffff73;
    padding: 30px 25px 30px 25px;
}

.elementor-1287 .elementor-element.elementor-element-20dd8fef .elementor-button:hover,
.elementor-1287 .elementor-element.elementor-element-20dd8fef .elementor-button:focus {
    color: #08fd30;
    background-color: #02860a9e;
}

.elementor-1287 .elementor-element.elementor-element-20dd8fef .elementor-button:hover svg,
.elementor-1287 .elementor-element.elementor-element-20dd8fef .elementor-button:focus svg {
    fill: #08fd30;
}

.elementor-1287 .elementor-element.elementor-element-20dd8fef>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-1287 .elementor-element.elementor-element-20dd8fef {
    width: auto;
    max-width: auto;
    align-self: center;
}

@media (min-width: 769px) {
    .elementor-1287 .elementor-element.elementor-element-644393bf {
        width: 100%;
    }
}

@media (max-width: 1024px) {
    .elementor-1287 .elementor-element.elementor-element-36ada860 img {
        max-width: 100%;
    }
    .elementor-1287 .elementor-element.elementor-element-36d4b892 .elementor-nav-menu .elementor-item {
        font-size: 2.2vw;
    }
    .elementor-1287 .elementor-element.elementor-element-36d4b892 .e--pointer-framed .elementor-item:before {
        border-width: 0px;
    }
    .elementor-1287 .elementor-element.elementor-element-36d4b892 .e--pointer-framed.e--animation-draw .elementor-item:before {
        border-width: 0 0 0px 0px;
    }
    .elementor-1287 .elementor-element.elementor-element-36d4b892 .e--pointer-framed.e--animation-draw .elementor-item:after {
        border-width: 0px 0px 0 0;
    }
    .elementor-1287 .elementor-element.elementor-element-36d4b892 .e--pointer-framed.e--animation-corners .elementor-item:before {
        border-width: 0px 0 0 0px;
    }
    .elementor-1287 .elementor-element.elementor-element-36d4b892 .e--pointer-framed.e--animation-corners .elementor-item:after {
        border-width: 0 0px 0px 0;
    }
    .elementor-1287 .elementor-element.elementor-element-36d4b892 .e--pointer-underline .elementor-item:after,
    .elementor-1287 .elementor-element.elementor-element-36d4b892 .e--pointer-overline .elementor-item:before,
    .elementor-1287 .elementor-element.elementor-element-36d4b892 .e--pointer-double-line .elementor-item:before,
    .elementor-1287 .elementor-element.elementor-element-36d4b892 .e--pointer-double-line .elementor-item:after {
        height: 0px;
    }
    .elementor-1287 .elementor-element.elementor-element-36d4b892 .elementor-nav-menu--main .elementor-item {
        padding-left: 15px;
        padding-right: 15px;
    }
    .elementor-1287 .elementor-element.elementor-element-36d4b892 .elementor-nav-menu--dropdown {
        border-width: 10px 10px 10px 10px;
    }
    .elementor-1287 .elementor-element.elementor-element-36d4b892 .elementor-nav-menu--dropdown a {
        padding-left: 42px;
        padding-right: 42px;
        padding-top: 15px;
        padding-bottom: 15px;
    }
    .elementor-1287 .elementor-element.elementor-element-36d4b892 .elementor-menu-toggle {
        font-size: 47px;
    }
}

@media (max-width: 768px) {
    .elementor-1287 .elementor-element.elementor-element-36d4b892 .elementor-nav-menu .elementor-item {
        font-size: 3.9vw;
    }
    .elementor-1287 .elementor-element.elementor-element-5cd6353e .elementor-button {
        border-width: -11px 0px 0px 0px;
    }
    .elementor-1287 .elementor-element.elementor-element-20dd8fef .elementor-button {
        border-width: -11px 0px 0px 0px;
    }
}


/* Start custom CSS for theme-site-logo, class: .elementor-element-36ada860 */

.elementor-1287 .elementor-element.elementor-element-36ada860 {
    max-width: 50%;
}

.elementor-1287 .elementor-element.elementor-element-36ada860 img {
    height: 10%;
    object-fit: contain;
    opacity: 1;
    width: 100px;
    max-width: 100%;
}


/* End custom CSS */


/* Start custom CSS for nav-menu, class: .elementor-element-36d4b892 */

.elementor-1287 .elementor-element.elementor-element-36d4b892 {
    margin-left: auto;
}

.menu-item {
    text-shadow: -4px 1px 17px rgb(0 255 31), 0 1px 12px rgb(255 0 0);
    box-shadow: inset 0px 0px 20px 18px rgb(0 0 0 / 60%);
}

.elementor-nav-menu--dropdown {
    position: absolute;
    width: 100%;
    top: 13vh;
}

.elementor-1287 .elementor-element.elementor-element-36d4b892 .elementor-menu-toggle {
    box-shadow: 0px 0px 19px 20px rgb(0 0 0 / 60%);
    background-color: #1ce803b8 !important;
}

@media only screen and (max-width: 1024px) {
    .elementor-1287 .elementor-element.elementor-element-36d4b892 {
        margin-left: 5vw;
    }
}

@media only screen and (max-width: 767px) {
    .elementor-1287 .elementor-element.elementor-element-36d4b892 {
        margin-left: auto;
        margin-right: 5%;
    }
}


/* End custom CSS */


/* Start custom CSS for button, class: .elementor-element-5cd6353e */

.elementor-1287 .elementor-element.elementor-element-5cd6353e {
    width: auto;
    margin-left: auto;
}

.elementor-1287 .elementor-element.elementor-element-5cd6353e .elementor-button {
    box-shadow: 0px 0px 20px 19px rgb(0 0 0 / 60%);
}


/* End custom CSS */


/* Start custom CSS for button, class: .elementor-element-20dd8fef */

.elementor-1287 .elementor-element.elementor-element-20dd8fef {
    width: auto;
    margin-left: auto;
}

.elementor-1287 .elementor-element.elementor-element-20dd8fef .elementor-button {
    box-shadow: 0px 0px 20px 19px rgb(0 0 0 / 60%);
}


/* End custom CSS */


/* Start custom CSS for column, class: .elementor-element-644393bf */

.elementor-1287 .elementor-element.elementor-element-644393bf {
    width: 100%;
    margin-right: 0 !important;
}


/* End custom CSS */


/* Start custom CSS for section, class: .elementor-element-12a43038 */

.elementor-1287 .elementor-element.elementor-element-12a43038 {
    position: absolute;
    width: 100%;
}

.elementor-1287 .elementor-element.elementor-element-12a43038 .elementor-container {
    margin-right: 0;
    margin-left: 0;
}


/* End custom CSS */